div.Dashboard {
  padding: 10px 0px 0px 20px;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

h1.title {
  margin: 0px 0px 0px 0px;
  font-size: 64px;
  font-family: "Major Mono Display", sans-serif;
  font-weight: normal;
  color: #eeeeee;
}

h2.subtitle {
  margin: 0px 0px 24px 0px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #808080;
}

div.content {
  margin: 20px 20px 0px 30px;
  /* border-style: solid; */
}
