div.weatherFutureHour {
  text-align: center;
  width: 80px;
}

h1.weatherFutureHourHeader {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 5px 5px 5px;
  text-transform: uppercase;
  color: #ff5e54;
}

div.weatherFutureHourTemperature {
  margin: 5px 0px 5px 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
  color: #bbbbbb;
}
