div.loginContainer {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

img.wednesday {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1 {
  color: #ffffff;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
