div.spotifyCurrentTrack {
  display: flex;
  align-items: flex-start;
}

div.spotifyControls {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

div.spotifyControls i:hover:active {
  color: #ff5e54;
}

img.spotifyAlbumArtwork {
  height: 280px;
  width: 280px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
