div.weatherDescription {
  display: inline;
  line-height: 128px;
  font-size: 18px;
}

div.weatherTemperature {
  display: inline;
  line-height: 128px;
  font-size: 72px;
  font-family: "Oxygen", sans-serif;
  vertical-align: middle;
  margin: 0px 0px 0px 20px;
}

div.weatherCurrentConditions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.weatherFiveDayForecast {
  display: flex;
  justify-content: space-between;
}

img.weatherIconBig {
  height: 128px;
  width: 128px;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
}

img.weatherIconSmall {
  height: 52px;
  width: 52px;
  vertical-align: middle;
  margin: 0px 0px 5px 0px;
}

table.weatherSummary {
  flex-grow: 1;
  /* height: 100%; */
  vertical-align: middle;
}

table.weatherSummary tr {
  width: 100%;
}

table.weatherSummary td {
  padding-right: 20px;
  font-size: 18px;
  /* border-style: solid;
  border-color: red; */
}

div.darkSkyWatermark {
  margin: 5px 0px 0px 0px;
  text-align: center;
  color: #eeeeee;
  font-style: italic;
  font-size: 14px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
