.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar {
  background-color: #111111;
  color: #eeeeee;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Dashboard {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

#Wednesday {
  /* mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 85%); */
  max-height: 100vh;
}

.Link {
  color: #eeeeee;
}
